*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

h1,p,span,strong,label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}
/*Titulo Principal*/
#main-title{
    margin-top: 1rem;
    align-self: center;
    justify-self: center;
    color: rgb(22, 245, 78);
}
/**/

/*Campo de Pesquisa*/
.form-field{
    display:flex;
    align-self: center;
    flex-direction: column;

    background: rgb(185, 185, 185);
    margin-top: 50px;
    width: 30rem;
    height: 10.6rem;
    padding: 1.5rem;
    border-radius: 5px;
}

#name{
    width: 25rem;
    margin:0 0 1rem;
    height: 2.4rem;
    border: 0;
    border-radius: 5px;
    padding-left: 8px;
    font-weight: bold;
    align-self: center;

    margin-top: 15px;
    margin-left: 5px;
}

.name-field{
    display: flex;
    align-items: center;
    width: 100%;
}

#quantidade{
    width: 5rem;
    margin:0 0 1rem;
    height: 2.1rem;
    border: 0;
    border-radius: 5px;
    padding-left: 8px;
    font-weight: bold;
    align-self: center;

    margin-top: 10px;
    margin-left: 5px;
}

#product-name{
    font-size: 15pt;
    margin-bottom: 5px;
}

#quantidade-number{
    font-size: 10pt;
}

#add{
    padding: 2px;
    height: 5.1rem;
    width: 6rem;

    border-radius: 5px;
    border: 0;
    background-color: white;
    cursor: pointer;

    font-size: 10.3pt;
    font-weight: bold;
}
/**/

/*Produtos*/
#produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

#produto{
    background: rgb(0, 255, 76);
    color: rgb(0, 0, 0);

    height: 50px;
    width: 25rem;
    padding: 1rem;

    margin-top: 5px;

    border-radius: 7px;
}