*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

h1,p,span,strong,label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}
/*Titulo Principal*/
.header{
    background-color: rgb(179, 21, 179);
    height: 25vh;
    padding: 1rem;
}
#main-title{
    margin-top: 1rem;
    align-self: center;
    justify-self: center;
    font-size: 40pt;
    color: white;
}
/**/

/*Campo de Pesquisa*/
.form-field{
    display:flex;

    position: absolute;

    margin-top: 130px;
    width: 45rem;
    height: 5rem;
    padding: 1.5rem;
}

.form-field p{
    font-weight: bold;
    color: rgb(0, 255, 76);
}

#name{
    width: 25rem;
    margin:0 0 1rem;
    height: 3.4rem;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    padding: .5rem;

    margin-top: 5px;
    margin-left: 5px;
    background: rgb(236, 237, 238);

    word-break: 10;
}

.name-field{
    color: white;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    margin-right: 2rem;
}

#quantidade{
    width: 7rem;
    margin:0 0 1rem;
    height:3.4rem;
    border: 0;
    border-radius: 5px;
    padding-left: 8px;
    font-weight: bold;
    align-self: center;

    margin-top: 5px;
    margin-left: 5px;
    background: rgb(236, 237, 238);
}

.quantidade-field{
    color: white;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    margin-right: 2rem;
}

#product-name{
    font-size: 15pt;
    margin-bottom: 5px;
}

.quantidade-field{
    font-size: 10pt;
}

#add{
    padding: 2px;
    height: 3.5rem;
    width: 6rem;

    border-radius: 5px;
    border: 0;
    background: rgb(0, 255, 76);
    cursor: pointer;
    margin-top: 24px;

    font-size: 10.3pt;
    font-weight: bold;
}
/**/

/*Produtos*/
#produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}
/*Produto Individual*/
#produtos > div{
    display: flex;
    justify-content: space-between;
    background: rgb(0, 255, 76);
    color: rgb(0, 0, 0);

    height: 65px;
    min-width: 35rem;
    padding: 1rem;

    margin-top: 46px;

    border-radius: 7px;
}

/*Area de botões do produto*/
.button-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-div button{
    padding: .5rem;
    height: 1.8rem;

    align-content: center;
    border-radius: 5px;

    background-color: red;
    color: white;
    margin-bottom: 5px;
}

.button-div button + button{
    padding: .5rem;
    height: 1.8rem;

    align-content: center;
    border-radius: 5px;

    background-color: rgb(195, 0, 255);
    color: white;
}
/*Area de nome e quantidade dos produtos*/
#name-of-products{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;

    max-width: 20rem;
}

#name-of-products strong{
    font-size: 10pt;
}